<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=localhost;Database=Tournaments;Trusted_Connection=True;Initial Catalog=Tournaments;" providerName="System.Data.SqlConnection"/>
	</connectionStrings>
	<appSettings>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="emberisa@gmail.com"/>
		<add key="senderName" value="Tournament Tracker"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="tim" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>