<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Tournament" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournaments;Integrated Security=True;" providerName="System.Data.SqlConnection"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>